body{
    margin: 0;
    font-family: Arial;

}
.header{
    background: black;
    color: white;
    text-align: center;
    padding: 30px;
}
.header a{
    color: white;
    text-decoration: none;
    margin: 15px;
}
.hero{
    background-color: blue;
    color: white;
    text-align: center;
    padding: 120px 20px;
}
.hero h1{
    font-size: 40px;

}
.hero p{
    font-size: 20px;
}
fieldset{
    width: 1370px;
    margin: 20px 30px;
    height: 300px;
}
#box1, #box2, #box3{
    width: 300px;
    height: 200px;
    display: inline-block;
    margin: 20px;
    background-color: aqua;
    font-size: 40px;
    color: black;
    text-align: center;
    bottom: 100px;
    }
button{
    background-color: yellow;
    color: black;
    border: none;
    padding: 12px 25px;
    font-size: 20px;
    cursor: pointer;

}